<% content_for :title, "Help" %>

<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#user-page" aria-expanded="false" aria-controls="faqTest">
    User Pages
  </a>
  <div class="collapse" id="user-page">
    <p class="h5">Fields</p>
    <p class="h6">Name:</p>
    <p>The username that the user selected during registration.</p>
    <p class="h6">Email:</p>
    <p>The email that the user provided during registration.</p>
    <p class="h6">Comments:</p>
    <p>Any comments the user has posted on universities across the site.</p>
    <p class="h6">Request List:</p>
    <p>Any outstanding requests for updated university information.</p>
    <p class="h6">Favorites List:</p>
    <p>Any universities the user has designated as favorites.</p>
  </div>
</p>
<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#school-information" aria-expanded="false" aria-controls="faqTest">
    School Information
  </a>
  <div class="collapse" id="school-information">
    <p class="h5">Fields</p>
    <p class="h6">Name:</p>
    <p>The name of the university appears at the top of the page.</p>
    <p class="h6">Location:</p>
    <p>The city, state, and ZIP code of the university appear on the next line.</p>
    <p class="h6">Tabs:</p>
    <p>There are three tabs containing information on each university: Academics, Tuition & Scholarships, and User Comments.</p>
    <p class="h6">Academics:</p>
    <p>This tab covers basic academic and admission statistics for each university.  It also
      displays middle-50% admissions SAT/ACT test scores.</p>
    <p class="h6">Tuition & Scholarships:</p>
    <p>This tab shows the cost of attendance for both in-state and out-of-state students for each university.</p>
    <p class="h6">User Comments:</p>
    <p>This tab shows any user comments left on the university, and it allows users to leave comments on each university.</p>
    <p class="h6">What does "Not Reported" mean?</p>
    <p>Any information not provided to the federal government on each university is denoted by "Not Reported".  This means
      that the piece of information is unavailable for that university.  If you have found information that is not reported,
      consider filing a request for an update and provide the information source.
    <p class="h6">Action Buttons:</p>
    <p>The buttons at the top of the university page allow users to view the school's website, add the school to a comparison table,
    add the university to their favorites list, and file a request for updated information.</p>
  </div>
</p>
<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#sign-up-log-in" aria-expanded="false" aria-controls="faqTest">
    Sign-Up and Log-In
  </a>
  <div class="collapse" id="sign-up-log-in">
    <p>The sign-up page allows a user to select a username and a password, and requires a valid email.  The submit button
    completes registration, and notifies the user of any errors.  There is a link to the login page at the bottom if necessary</p>
    <p>The log-in page allows a user to log in using their email and password.  An alert will appear if the username/password
      combination was incorrect.  There is a link to the sign-up page if necessary.</p>
  </div>
</p>
<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#listing" aria-expanded="false" aria-controls="faqTest">
    Home Page
  </a>
  <div class="collapse" id="listing">
    <p>On the homepage of the website, each university has a card, which contains basic
    information about each university, such as the location, number of students, and costs of attendance.
    A link to the university's page is provided.</p>
    <p>The heart button adds the university to your favorites list.  The checkmark adds the university
    to a comparison table where you can compare university statistics.</p>
    <p>A search bar is located in the top left corner, which allows users to search for universities by name.</p>
    <p>An advanced search window is available by clicking "Advanced Search".  This will bring up a window where
      the user can search for various criteria and ranges.</p>
    <p>A link for the user's page is located at the top right by clicking on their username, and users can login/logout
      by selecting the appropriate link.</p>
  </div>
</p>
<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#compare" aria-expanded="false" aria-controls="faqTest">
    Comparison Page
  </a>
  <div class="collapse" id="compare">
    <p>On the comparison page, each university selected can be viewed side by side.  Universities can be removed
    from this table by clicking "Remove".</p>
  </div>
</p>
<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#mods" aria-expanded="false" aria-controls="faqTest">
    Moderators
  </a>
  <div class="collapse" id="mods">
    <p>Moderators have access to a moderator dashboard, which allows the user to view comments that have been reported <body>
      other users.  Moderators are the only users (other than the original poster) who can delete comments on universities.</p>
  </div>
</p>
<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="faqTest">
    Administrative Users
  </a>
  <div class="collapse" id="admin">
    <p>Administrators have access to an administrator dashboard, which allows access to the information requests for universities.
    Administrators are the only users with authority to directly update university information.</p>
  </div>
</p>
<p>
  <a class="h4 dropdown-toggle" data-toggle="collapse" href="#error404" aria-expanded="false" aria-controls="faqTest">
    Error 404
  </a>
  <div class="collapse" id="error404">
    <p>The 404 page indicates that the server did not recognize the URL you requested.  Please re-try your
    request, double-checking any information you entered along the way.  The 404 page contains a link to the
    homepage if needed.</p>
  </div>
</p>
