<!-- This file contains the universal site footer -->
<div class="container-fluid footer">
	<div class="row h-100">
		<div class="col-sm-12 align-self-center text-center">
			<div class="my-auto">
				<span>&copy; 2019 University Guru</span>
				<span class="mx-3">&middot;</span>
				<%= link_to "Help", {controller: :static_pages, action: :help}, class: "footer-help" %>
			</div>
		</div>
	</div>
</div>
