<div class="container-fluid footer">
	<div class="row h-100">
		<div class="col-sm-12 align-self-center text-center">
			<span class="my-auto">&copy; 2019 University Guru</span>
		</div>
	</div>
</div>
